.App {
  text-align: center;
  min-height: 100vh;
}

.App .wrapper {
  width: 100%;
}
@media (min-width: 900px) {
  .App .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .App .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

.App .text-left {
  text-align: left;
}

.App .text-right {
  text-align: right;
}

.App-header {
  height: 50px;
  padding: 4px;
}

.App h3 {
  width: 95%;
  /*  -webkit-margin-after: .5em;*/
  margin: 1em auto 0.5em;
}

.App .quote-normal,
.App .quote-tiny {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.App .quote-normal {
  font-size: 24px;
}
.App .quote-tiny {
  font-size: 16px;
}

.App .full {
  width: 98%;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

@media (min-width: 900px) {
  .App .m-half {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  h3 {
    width: 98%;
  }
}
@media (max-width: 799px) {
  .App .s-full {
    width: 100%;
  }
  h3 {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .App .quote-normal {
    font-size: 18px;
  }
  .App .quote-tiny {
    font-size: 12px;
  }
}
