.CurrentQuote {
  width: 95%;
  margin: 24px auto 0px;
  padding: 24px 8px;
  border: 1px solid #666;
}

.up,
.down,
.no-change {
  margin-top: -2px;
}

.up {
  color: green;
}

.no-change {
  color: yellow;
}

.down {
  color: red;
}

.up-arrow,
.down-arrow {
  font-size: 36px;
  font-weight: 1000;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.up-arrow {
  padding-left: 6px;
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  transform: rotate(90deg);
}

.down-arrow {
  padding-right: 6px;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(-90deg);
}

.no-change-arrow {
  display: none;
}

@media (max-width: 450px) {
  .up-arrow,
  .down-arrow {
    font-size: 27px;
  }
}
