.LineGraphCaption {
  position: absolute;
  max-height: 200px;
  top: 0;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
}

.LineGraphCaption p {
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black,
    -1px 1px 2px black;
}
