.App {
  text-align: center;
  min-height: 100vh;
  background-color: #222;
  color: #bbb;
}

.wrapper{
  width: 100%;
}
@media (min-width: 900px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}


.App-header {
  height: 50px;
  padding: 4px;
}

.quote-normal, .quote-tiny {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.quote-normal {
  font-size: 24px;
}
.quote-tiny {
  font-size: 16px;
}

.LineGraphs {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}


.full {
  width: 100%;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

@media (min-width: 900px) {
  .m-half {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}
@media (max-width: 799px) {
  .s-full {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .quote-normal {
    font-size: 18px;
  }
  .quote-tiny {
    font-size: 12px;
  }
}
