.CurrentQuote {
	width: 90%;
	margin: 12px auto;
	border: 1px solid #666;
}

.third {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.up-arrow, .down-arrow{
	font-size: 36px;
	font-weight: 1000;
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

.up {
	color: green;
}

.up-arrow {
	/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	transform: rotate(90deg);
}

.down {
	color: red;
}

.down-arrow {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	transform: rotate(-90deg);
}

.no-change {
	color: yellow;
}

.no-change-arrow {
	display: none;
}

@media (max-width: 450px) {
  .up-arrow, .down-arrow{
    font-size: 27px;
  }
}