html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  background-color: #222;
  color: #bbb;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
