.LineGraph {
	width: 95%;
	margin: 24px auto 0px;
	display: block;
	flex-grow: 1;
}

.container{
	position: relative;
	height: 220px;
	max-height: 220px;
	border: 1px solid #666;
	width: 100%;
}

.LineGraph .caption, .LineGraph svg {
	position: absolute;
	max-height: 200px;
	top: 0;
}

.LineGraph .caption {
	top: 12px;
	left: 12px;
}

.LineGraph svg {
	top: 10px;
	left: 0;
}
